<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">ETicaret</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link active">Anasayfa</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Home" asp-action="List" class="nav-link">Ürünler</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Hakkımızda</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">İletişim</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a asp-controller="Cart" asp-action="Index" class="nav-link">Sepet</a>
                </li>

                if (User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="Index" class="nav-link">Admin Panel</a>
                    </li>
                }
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Manage" class="nav-link">@User.Identity.Name</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Logout" class="nav-link">Çıkış Yap</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login" class="nav-link">Giriş Yap</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Register" class="nav-link">Üye Ol</a>
                </li>
            }
        </ul>
    </div>
</nav>